<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/9b0c64e2da.js"></script>
    <title><%= title %></title>
</head>