<div class="toolmenu">
    <ul>
        <li><a href="/dashboard">Головна</a></li>
        <li><a href="/users">Читачі</a></li>
        <li><a href="/books">Книги</a></li>
        <li><a href="/sections">Розділи</a></li>
        <li><a href="/authors">Автори</a></li>
        <li><a href="/orders">Замовлення</a></li>
        
        <li style="float:right"><a href="/logout">Вийти</a></li>
        <li style="float:right"><a href="/account">Мій аккаунт</a></li>
    
    </ul>
</div>