<div class="toolmenu">
        <ul>
          <li><a href="/dashboard">Головна</a></li>
            <li><a href="/books">Книги</a></li>
            <li><a href="/authors">Автори</a></li>
            <li><a href="/top100">Топ 100</a></li>
            
            <li style="float:right"><a href="/logout">Вийти</a></li>
            <li style="float:right"><a href="/account">Мій аккаунт</a></li>
            <li style="float:right"><a href="/orders">Замовлення</a></li>
            <li style="float:right"><a href="/favourites"><i class="fa fa-heart" aria-hidden="true"></i>  Список бажань </a></li>
        </ul>
    </div>